<!-- orders-table.component.html -->
<ng-container>
    <div class="header">
        <mat-form-field>
            <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Buscar">
        </mat-form-field>
    </div>

    <div class="container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="employeeCode">
                <mat-header-cell *matHeaderCellDef># Empleado </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-label"># Empleado: </span> {{ row.employeeCode }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let row"> <span class="mobile-label">Nombre: </span> {{ row.firstName }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido </mat-header-cell>
                <mat-cell *matCellDef="let row"> <span class="mobile-label">Apellido: </span>{{ row.lastName }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Correo </mat-header-cell>
                <mat-cell *matCellDef="let row"> <span class="mobile-label">Correo: </span>{{ row.email }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="telephone">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</mat-header-cell>
                <mat-cell *matCellDef="let row"><span class="mobile-label">Telefono: </span> {{row.telephone }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="job">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Puesto</mat-header-cell>
                <mat-cell *matCellDef="let row"> <span class="mobile-label">Puesto: </span>{{row.job | jobname }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Rol</mat-header-cell>
                <mat-cell *matCellDef="let row"> <span class="mobile-label">Rol: </span> {{row.role | rolename }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions" *ngIf="canEdit">
                <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-flat-button color="accent" (click)="editEmployee(row)">
                        <mat-icon>create</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple matRippleColor="accent" (click)="onClickEmployee(row)">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize"></mat-paginator>
    </div>
</ng-container>