<h2 mat-dialog-title>Crear Recurso</h2>

<mat-dialog-content>
    <form class="parent">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [value]="resource.name" [(ngModel)]="resource.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <input matInput type="text" [value]="resource.description" [(ngModel)]="resource.description" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Ubicacion</mat-label>
            <mat-select [value]="resource.location" [(ngModel)]="resource.location" [ngModelOptions]="{standalone: true}">
                <mat-option value="Almacen">Almacen</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Total de unidades</mat-label>
            <input matInput type="number" [value]="resource.totalUnits" [(ngModel)]="resource.totalUnits" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close style="float: left;">Cerrar</button>
    <div fxFlex></div>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="saveResource()">Guardar</button>
</mat-dialog-actions>